html, body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;

}

body{
	max-width: 1440px;
	margin: 0 auto;
}

/* navbar */
.navbar-mod{
	display: inline-block;
	width: 100%;
	background-color: #1B1919;
	padding: 0 5%;
	padding-left: 13.5%;
}

.navbar_title{
	position: relative;
	display: inline-block;
	padding: 15px 10px;
}

.navbar_title a,.navbar_title a:hover,.navbar_title a:focus{
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 900;
	letter-spacing: 2px;
}

.navbar_title-under-line{
	position: relative;
	display: inline-block;
}

.navbar_title-under-line::after{
	content: " ";
	border-bottom: 4px solid #018790;
	width: 62px;
	top: 63%;
	position: absolute;
	left: 9px;
}

.navbar_menu{
	display: inline-block;
	float: right;
}

.navbar_menu ul{
	padding: 0;
	list-style: none;
	margin: 0;
}

.navbar_menu ul li{
	display: inline-block;
}

.navbar_menu ul li a,.navbar_menu ul li a:focus,.navbar_menu ul li a:hover{
	display: inline-block;
	color: white;
	text-transform: uppercase;
	margin: 0 5px;
	padding: 15px 5px;
	text-decoration: none;
}

.navbar_menu_button_side{
	cursor: pointer;
	font-weight: 900;
	display: inline-block;
	color: white;
	text-transform: uppercase;
	margin: 0 5px;
	padding: 11px 5px;
	font-size: 20px;
}
/* end navbar */

footer{
	display: inline-block;
	width: 100%;
	background-color: #1B1919;
	color: white;
	margin-top: -5px;
	text-align: center;
}

footer a, footer a:hover,footer a:focus{
	color: white;
	text-decoration: none;
}