@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Cinzel', serif;
}

body{
	max-width: 1440px;
	margin: 0 auto;
}

.nav{
    display: inline-block;
	width: 100%;
	background-color: #1B1919;
	padding: 0 5%;
	padding-left: 13.5%;
}

.navbar--title{
	position: relative;
	display: inline-block;
	padding: 15px 10px;
}
.navbar--title p,.navbar--title p:hover,.navbar--title p:focus{
	color: #FFFFFF;
	font-weight: 900;
	letter-spacing: 2px;
}

.navbar--title--under--line{
	position: relative;
	display: inline-block;
}
.navbar--title--under--line::after{
	content: " ";
	border-bottom: 4px solid #018790;
	width: 65px;
	top: 63%;
	position: absolute;
	left: 9px;
}

.navbar--menu{
	display: inline-block;
}

.navbar--menu ul li{
	display: inline-block;
}

.navbar--menu ul li a,.navbar--menu ul li a:focus,.navbar--menu ul li a:hover{
	display: inline-block;
    color: white;
	margin: 0 5px;
	padding: 15px 5px;
}
.navbar--menu--button--side{
	cursor: pointer;
	font-weight: 900;
	display: inline-block;
	color: #FFFFFF;
	margin: 0 5px;
	padding: 11px 5px;
	font-size: 20px;
}

.side-nav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 15;
	top: 0;
	right: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	text-align:center;
}

.side-nav a {
	padding: 8px;
	text-decoration: none;
	font-size: 25px;
	color: #018790;
	display: block;
	transition: 0.3s;

}

.side-nav a:hover{
	color: white;
}

.side-nav .close {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}
